@font-face {
  font-family: 'SourceSans';
  src: url("../assets/fonts/SourceSansVariable-Roman.ttf") format("truetype"); }

html {
  font-family: 'SourceSans', sans-serif; }

h1 {
  margin: 0;
  color: #f05f40; }

body {
  background-color: #f8f8f8; }

.grid-container {
  display: grid;
  grid-gap: 15px 10px;
  color: #f05f40;
  grid-template-columns: repeat(3, 300px); }
  @media screen and (max-width: 800px) {
    .grid-container {
      grid-template-columns: repeat(2, 300px); } }
  @media screen and (max-width: 500px) {
    .grid-container {
      grid-template-columns: 300px; } }
  .grid-container .newCard {
    display: grid;
    position: relative;
    border-radius: 15px;
    background-color: #f0efef;
    box-shadow: 5px 5px 30px #999; }
    .grid-container .newCard img {
      max-width: 100%; }
    .grid-container .newCard .cardImage {
      height: 200px;
      overflow-y: hidden; }
      .grid-container .newCard .cardImage .cardFavourite {
        right: 20px;
        cursor: pointer;
        color: #ff006a;
        outline-color: #fff;
        position: absolute; }
      .grid-container .newCard .cardImage img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; }
    .grid-container .newCard .cardTitle {
      margin: 2px 10px; }
      .grid-container .newCard .cardTitle h3 {
        margin: 0; }
      .grid-container .newCard .cardTitle .titleSubHeading {
        margin: 0;
        color: #3d3d3d; }
    .grid-container .newCard .cardGlyphs .fas,
    .grid-container .newCard .cardGlyphs .far,
    .grid-container .newCard .cardGlyphs .fab,
    .grid-container .newCard .cardAuthor .fas,
    .grid-container .newCard .cardAuthor .far,
    .grid-container .newCard .cardAuthor .fab {
      color: #f05f40; }
    .grid-container .newCard .cardGlyphs {
      color: #333;
      display: grid;
      margin: 0 10px;
      grid-template-columns: 50% 50%; }
    .grid-container .newCard .cardAuthor {
      display: grid;
      margin: 0 10px;
      grid-gap: 0 10px;
      grid-template-columns: max-content auto;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px; }
      .grid-container .newCard .cardAuthor .authorImage {
        width: 50px; }
        .grid-container .newCard .cardAuthor .authorImage img {
          border-radius: 25px; }
      .grid-container .newCard .cardAuthor .authorDetails {
        color: #333;
        display: grid;
        grid-template-rows: auto max-content; }
        .grid-container .newCard .cardAuthor .authorDetails p {
          margin: 0;
          font-size: 18px; }
        .grid-container .newCard .cardAuthor .authorDetails .authorName {
          align-self: end; }
        .grid-container .newCard .cardAuthor .authorDetails .authorSocials {
          cursor: pointer; }

.recipeHeader {
  height: 230px;
  background-image: url("../assets/images/webp/Pancakes.webp");
  background-position: center;
  background-repeat: no-repeat; }

.headerBlock {
  padding: 5px;
  display: grid;
  grid-gap: 0 10px;
  margin: 0 10vw;
  background-color: #fff;
  border: 1px solid lightgrey;
  grid-template-columns: auto max-content; }
  .headerBlock .split .titleSubHeading {
    margin: 0;
    color: #999; }
  .headerBlock .split h3 {
    margin: 0;
    margin-top: 10px; }
  .headerBlock .split .recipeAllergens {
    margin: 0;
    padding: 0;
    column-count: 3;
    list-style-type: square;
    list-style-position: inside; }
  .headerBlock .split .buttons {
    margin-top: 2px;
    text-align: right; }
    .headerBlock .split .buttons .button {
      margin: 0 5px;
      cursor: pointer;
      font-size: x-large; }
      .headerBlock .split .buttons .button.favourite {
        color: #ff006a; }
  .headerBlock .split .recipeInfo .recipeTiming .fas,
  .headerBlock .split .recipeInfo .recipeTiming .far {
    color: #f05f40; }

.ingredientsBlock {
  padding: 5px;
  margin: 3vw 10vw;
  background-color: #fff;
  border: 1px solid lightgrey; }
  .ingredientsBlock .ingredientsList {
    padding: 0;
    display: grid;
    grid-gap: 10px 25px;
    list-style-type: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content); }
    .ingredientsBlock .ingredientsList .ingredientItem {
      display: grid;
      grid-gap: 15px;
      border-radius: 10px;
      grid-template-rows: 75px;
      background-color: #f8f8f8;
      grid-template-columns: max-content auto; }
      .ingredientsBlock .ingredientsList .ingredientItem img {
        border-radius: 25px;
        height: 100%; }
      .ingredientsBlock .ingredientsList .ingredientItem p {
        margin: 0; }

.utensilsBlock {
  padding: 5px;
  margin: 3vw 10vw;
  background-color: #fff;
  border: 1px solid lightgrey; }
  .utensilsBlock ul {
    margin: 0;
    padding: 0;
    column-count: 3;
    list-style-type: square;
    list-style-position: inside; }

.instructionsBlock {
  padding: 5px;
  margin: 3vw 10vw;
  background-color: #fff;
  border: 1px solid lightgrey; }
  .instructionsBlock ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .instructionsBlock ul .instructionStep {
      display: grid;
      grid-gap: 5px;
      margin: 10px 0;
      grid-template-columns: 100px auto; }
      .instructionsBlock ul .instructionStep img {
        width: 100%; }
      .instructionsBlock ul .instructionStep p {
        margin: 0; }
